body {
    background-color: khaki;
}

nav {
    position: fixed;
    z-index: 1000;
    height: 100vh;
    width: 15vw;
    float: left;
    background-color: black;
    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.5s; /* Firefox < 16 */
        -ms-animation: fadein 0.5s; /* Internet Explorer */
         -o-animation: fadein 0.5s; /* Opera < 12.1 */
            animation: fadein 0.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

nav li {
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

nav li a {
    font-size: 16pt;
    color: white;
}

nav li a:hover {
    font-size: 16pt;
    text-decoration: none;
    color: khaki;
}

#backdrop {
    position: fixed;
    z-index: 500;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
}

i {
    font-size: 30pt;
    cursor: pointer;
}

form {
    padding: 10px;
    padding-left: 0;
}

#modal {
    position: fixed;
    background-color: #fff;
    border-radius: 3px;
    z-index: 1000;
    top: 20%;
    left: 35%;
    padding: 10px;
}


input {
    padding-top: 5px;
}
